.VA012_rootBankCharge {
    height: 100%;
    width: 100%;
}
/*.VA012-bankcharge-heading {
    margin: 1rem;
}*/
.VA012-bankchargePanelLbl {
    font-weight: 600;
    color: #908989;
}
.VA012-paramtersDiv {
    display: flex;
    /*padding: 0.3rem;*/
}
.VA012-cmbBankAcct {
    padding: 0.3rem;
}
.VA012-cmbCharge {
    padding: 0.3rem;
}
.VA012-input-wrap{
    margin-bottom: unset !important;
}
.VA012_rootBankCharge {
    /*background: rgba(235, 245, 250, 1) !important;*/
    background: rgb(255 255 255) !important;
}
.VA012-ctrlLbl {
    /*background: rgba(var(--v-c-on-secondary), .0) !important;*/
    background: rgb(255 255 255) !important;
}
